@charset "UTF-8";

*{
    margin:0;
    padding:0;
}

body {
    width: 800px;
    margin:auto;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(251,247,244);
    font-size: 12pt;
    line-height: 16pt;
    color: rgb(149, 198, 226);
}

header{
    height:250px;
    margin: 80px auto 30px auto;
    background-color: white; /*temporary*/
}

section {
    width: 800px; /*not sure why i have to specify this again*/
}

h1 {
    font-size: 30pt;
    color:rgb(141, 129, 155);
}

h2 {
    color: rgb(247,107,107);
    font-size: 18pt;
    line-height: 28pt;
}

a { /*also not sure why a isn't reached when i specified color in the body */
    text-decoration: none;
    color: rgb(149, 198, 226);
    font-family: 'Abel', sans-serif;
}

a:hover {
    color: rgb(136, 161, 185);
}

a:active {
    color: rgb(68, 102, 138);
}

.row {
    clear: both;
    content: "";
    display: table;
}

.column{
    margin: 20px 0px 60px;
}

.one-third {
    width: 33%;
    float:left;
}

.email {
    background-color: rgb(141, 129, 155);
    color: rgb(251,247,244);
    margin-left: 15px;
}

footer {
    float: right;
}

footer a{
    padding: 10px;
    color: rgb(133,123,145);
}

/* BLOG PAGE ********************************/

.bloghead {
    position: fixed;
    margin: 0px;
    padding: 30px;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    background-color: white;
}

.bloghead h1{
    line-height: 40pt;
    text-align: center;
}

.bloghead h2{
    text-align: center;
}

article {
    width: 600px;
    margin: 180px auto 0px auto;
}

h3 {
    color: rgb(136, 161, 185);
    font-size: 20pt;
    line-height: 26pt;
}

h4 {
    color: rgb(136, 161, 185);
    font-size: 10pt;
    margin: 0px 0px 10px 0px;
}

p {
    font-family: 'Abel', sans-serif;
    margin: 0px 0px 40px 0px;
}

p a{
    color:rgb(141, 129, 155);
}

.backhome {
    position: fixed;
    bottom: 100px;
    right: 0px;
    padding: 15px;
    background-color: rgb(141, 129, 155);
    color: rgb(251,247,244);
}

img {
    float: left;
    margin: 0px 15px 15px 0px;
}
